body{
    background-color: rgb(100, 100, 350);
    font-family: "Garamond";
    font-size: 30px;
    font-style: normal;
    font-weight: 100;
}
h4, h1, h6, h3, h5, h2 .links, .email{
    text-align: center;
    font-family: "Garamond";
    font-weight: bold;
}
img {
    background-position: center;    
}